body {
    font-family: Arial, sans-serif;
    background-color: #6f72c3;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    background-color: rgb(213, 159, 202);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 8px;
    margin: 5px 0;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  